<h1>Expenses</h1>

<h2>Додати / Редагувати витрату</h2>
<%= form_with url: '/expenses/add', method: :post do %>
  Назва витрати: <%= text_field_tag :name %>
  Сума: <%= text_field_tag :amount %>
  Дата: <%= date_select :expense, :date %>
  Опис: <%= text_area_tag :description %>
  <%= submit_tag "Додати" %>
<% end %>

<h2>Пошук</h2>
<%= form_with url: '/expenses/search', method: :get do %>
  <%= text_field_tag :term %>
  <%= submit_tag "Шукати" %>
<% end %>

<h2>Витрати</h2>
<ul>
  <% @expenses.each do |expense| %>
    <li>
      <strong><%= expense.name %></strong>: <%= expense.amount %> грн, Дата: <%= expense.date %>, Опис: <%= expense.description %>

      <%= form_with url: '/expenses/edit', method: :post do %>
        <%= hidden_field_tag :id, expense.id %>
        Назва витрати: <%= text_field_tag :name, expense.name %>
        Сума: <%= text_field_tag :amount, expense.amount %>
        Дата: <%= date_select :expense, :date, default: expense.date %>
        Опис: <%= text_area_tag :description, expense.description %>
        <%= submit_tag "Редагувати" %>
      <% end %>

      <%= form_with url: '/expenses/delete', method: :post do %>
        <%= hidden_field_tag :id, expense.id %>
        <%= submit_tag "Видалити" %>
      <% end %>
    </li>
  <% end %>
</ul>

<h2>Файл</h2>
<%= link_to "Зберегти в JSON", '/expenses/save-json' %> |
<%= link_to "Зберегти в YAML", '/expenses/save-yaml' %> |
<%= link_to "Завантажити з JSON", '/expenses/load-json' %> |
<%= link_to "Завантажити з YAML", '/expenses/load-yaml' %>
